:root {
  --bgc: light-dark(#f5f5f5, #121212);
  --surface: light-dark(#ffffff, #1e1e1e);
  --primary: light-dark(#6200ee, #bb86fc);
  --secondary: light-dark(#018786, #03dac6);
  --text-high: light-dark(#212121, #e0e0e0);
  --text-medium: light-dark(#666666, #b3b3b3);
  --divider: light-dark(#e0e0e0, #2c2c2c);
  --hover-color: light-dark(rgb(0, 0, 0, 0.2), rgb(255, 255, 255, 0.2));
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
}

header{
  height: 60px;
  border-bottom: 2px solid var(--divider);
  display: flex;
  align-items: center;
  padding-left: 10px;
gap: 30%;


  .logo{
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background-image: url("assets/image.png");
   background-size: cover;
   animation: move 2s ease;
  }

  .other-stuff{ 
    display: flex;
    height: 100%;
    align-items: center;
    gap: 16px;
    .geolocation-logo{
      height: 40px;
      width: 40px;
      border: 1px solid red;
    }
    border: 1px solid blue;
  }
}
